/* _content/dotnet-messenger/Views/Shared/_Layout.cshtml.rz.scp.css */
a[b-iu1rfg5zmy] {
  color: #0077cc;
  text-decoration: none;
}

a:hover[b-iu1rfg5zmy] {
  color: rgb(255, 0, 102);
  text-decoration: underline;
}
