@model RegistrationModel;
@{ ViewData["Title"] = "Registration"; }


<div class="text-center">
    <h1>Registration</h1>

    <form method="post" asp-action="Registration" asp-controller="Registration">
        <div class="form-group">
            <div class="form login">
                <div class="form-row">
                    <label class="control-label">Login:</label>
                    <input asp-for="Login" class="form-control" name="Login" />
                    <span class="error-text">@ViewData["Login"]</span>
                </div>

                <div class="form-row">
                    <label class="control-label">Username:</label>
                    <input asp-for="Username" class="form-control" name="Username" />
                    <span class="error-text">@ViewData["Username"]</span>
                </div>

                <div class="form-row">
                    <label class="control-label">Password:</label>
                    <input asp-for="Password" class="form-control" type="password" name="password" />
                    <span class="error-text">@ViewData["Password"]</span>
                </div>

                <div class="form-row">
                    <button type="submit">Registration</button>
                    <span class="error-text">@ViewData["Registration"]</span>
                </div>
            </div>
    </form>
</div>
